<link rel="stylesheet" href="~/css/shared/instantForecast.css"/>
<div id="instant-forecast-link" data-request-url="@Url.Action("InstantForecast", "Data")"></div>

<a href="javascript:;" id="btc-forecast" data-toggle="tooltip" title="BTC Forecast" >
    <i class="fa-2x fa fa-btc font-dark"></i>
</a>

<div class="modal fade" id="btc-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <div id="instant-forecast-place"></div>
                    </div>
                    <div class="col-md-3">
                        <table class="table table-hover">
                            <tbody>
                            <tr>                               
                                <td id="instant-indicator" colspan="2"></td>
                            </tr>
                            <tr>
                                <td>Change</td>
                                <td id="change-indicator"></td>
                            </tr>
                            <tr>
                                <td>Rate</td>
                                <td id="instant-rate"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/shared/instantForecast.js" asp-append-version="true"></script>