.right-custom-hours label{
    font-style: italic;
    font-weight: bold;
}
.right-custom-hours input{
    position: relative;
    top: 14px;
    right: 12px;
}

.right-custom-hours{
    border-left: 0 !important;
}

.control-slider{
    border-right: 1px solid #efefef !important;
}
.nested-pills{
    float: right;
}
.custom-actions{
    color:white;
    margin-right: 28px;
    position: relative;
    bottom: 3px;
}

.custom-actions :hover{
    color: #2F353B;
}

#asset-name{
    font-weight: bold;
}
