#instant-indicator{
    position: relative; 
    font-size: large;
    margin-left: 5%;
}

#instant-rate{
    font-size: large;
    margin-left: 4%;
    font-weight: bold;
}

#change-indicator{
    font-size: large;
    margin-left: 4%;
    font-weight: bold;
}