@model TradingApp.Domain.Models.ServerRelated.ServerRequestsStats

@section Styles {
    <link rel="stylesheet" href="~/css/pages/auto.css" rel="stylesheet"/>
    <link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css">
}
<head>
    <title>Auto Forecast</title>
</head>
<div id="auto-forecast-link" data-request-url="@Url.Action("Auto", "Home")"></div>
<div id="show-forecast-elements" data-request-url="@Url.Action("GetForecastData", "Data")"></div>
<div id="get-latest-assets" data-request-url="@Url.Action("GetLatestAssets", "Data")"></div>
<div id="update-observables-link" data-request-url="@Url.Action("UpdateObservable", "Data")"></div>
<div class="page-wrapper-row full-height">
<div class="page-wrapper-middle">
<div class="page-container">
<div class="page-content">
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-sharp">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer"></i>Adjustment
                </div>
                <div class="tools" id="auto-tools">
                    @await Html.PartialAsync("~/Views/Shared/_BTCForecast.cshtml")
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <div class="md-radio">
                                    <input type="radio" value="useButtons" id="use-buttons" name="radio" class="select-control md-radiobtn" checked>
                                    <label for="use-buttons">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> <b>Radio Buttons</b>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="md-radio-inline" id="trigger-block">
                                    <div class="md-radio has-info">
                                        <input type="radio" value="200" name="toggle" id="rb-200" class="select-toggle rb-less md-radiobtn" checked>
                                        <label for="rb-200">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> <b>200</b>
                                        </label>
                                    </div>
                                    <div class="md-radio has-info">
                                        <input type="radio" value="230" name="toggle" id="rb-230" class="select-toggle rb-less md-radiobtn">
                                        <label for="rb-230">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> <b>230</b>
                                        </label>
                                    </div>
                                    <div class="md-radio has-info">
                                        <input type="radio" value="576" name="toggle" id="rb-576" class="select-toggle rb-more md-radiobtn">
                                        <label for="rb-576">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> <b>576</b>
                                        </label>
                                    </div>
                                    <div class="md-radio has-info">
                                        <input type="radio" value="720" name="toggle" id="rb-720"class="select-toggle rb-more md-radiobtn">
                                        <label for="rb-720">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> <b>720</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label margin-top-20 col-md-2 ">
                                <div class="md-radio">
                                    <input type="radio" value="useSlider" id="use-slider" name="radio" class="select-control md-radiobtn">
                                    <label for="use-slider">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> <b>Use Hour Slider</b>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-7 control-label control-slider">
                                <input type="text" id="slider-hours"/>
                            </div>
                            <div class="col-md-3 col-md-offset-0 right-custom-hours">
                                <div class="row">
                                    <label class="control-label col-md-6 pull-left">Hours:</label>
                                    <div class=" col-md-6">
                                        <input type="text" class="form-control pull-right" id="custom-slider">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                                <div class="md-radio">
                                    <input type="radio" value="usePeriodToggle" id="use-period-toggles" name="period-toggles" checked>
                                    <label for="use-period-toggles">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> <b>Period Buttons</b>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="md-radio-inline" id="period-block">
                                    <div class="md-radio has-info">
                                        <input type="radio" value="24" name="period" id="24" class="period-toggle per-24 md-radiobtn" checked>
                                        <label for="24">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> <b>24</b>
                                        </label>
                                    </div>
                                    <div class="md-radio has-info">
                                        <input type="radio" value="72" name="period" id="74" class="period-toggle md-radiobtn per-72">
                                        <label for="74">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> <b>72</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label margin-top-20 col-md-2 ">
                                <div class="md-radio">
                                    <input type="radio" value="usePeriodSlider" id="use-period-slider" name="period-toggles" class="select-control md-radiobtn">
                                    <label for="use-period-slider">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span> <b>Use Period Slider</b>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-7 control-label control-slider">
                                <input type="text" id="period-slider"/>
                            </div>
                            <div class="col-md-3 col-md-offset-0 right-custom-hours">
                                <div class="row">
                                    <label class="control-label col-md-6 pull-left">Periods:</label>
                                    <div class=" col-md-6">
                                        <input type="text" class="form-control pull-right" id="custom-periods">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <b>Add Seasonality:</b>
                            </label>
                            <div class="col-md-9">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        <input id="seasonality-houly" type="checkbox" name="check">
                                        <label for="seasonality-houly">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Houly Seasonality
                                        </label>
                                    </div>
                                    <div class="md-checkbox">
                                        <input id="seasonality-daily" type="checkbox" name="check" class="md-check">
                                        <label for="seasonality-daily">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Daily Seasonality
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                <b>Read From:</b>
                            </label>
                            <div class="col-md-9">
                                <select class="selectpicker" id="observable-option">
                                    <option>Observables</option>
                                    <option>Assets</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" id="run-auto-forecast" class="btn blue">
                                                <i class="fa fa-fire"></i> FORECAST
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check-square-o"></i>Result Set </div>
                <div class="tools">
                    
                    <a href="javascript:;" class="custom-actions" id="get-latest-assets-link"  data-toggle="tooltip" title="Get the latest result">
                        <i class="fa fa-lg fa-upload"></i>
                    </a>
                    <a href="javascript:;" id="update-observable-list" class="custom-actions" data-toggle="tooltip" title="Update observable list" >
                        <i class="fa fa-lg fa-refresh"></i>
                    </a>
                    
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div action="#" class="form-horizontal">                       
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">Strong Positive</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="selectpicker" id="strong-positive-picker" data-live-search="true"></select>
                                        <span class="input-group-btn">
                                            <button type="button" id="show-strong-positive" class="btn btn-success">Show</button>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">Positive</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="selectpicker" id="positive-picker" data-live-search="true"></select>
                                        <span class="input-group-btn">
                                            <button type="button" id="show-positive" class="btn btn-info">Show</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <label class="col-md-2 control-label">Neutral</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="selectpicker" id="neutral-picker" data-live-search="true"></select>
                                        <span class="input-group-btn">
                                            <button type="button" id="show-neutral" class="btn btn-default">Show</button>
                                        </span>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label">Negative</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="selectpicker" id="negative-picker" data-live-search="true"></select>
                                        <span class="input-group-btn">
                                            <button type="button" id="show-negative" class="btn btn-danger">Show</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-blue-soft"></i>
                    <span class="caption-subject font-blue-soft bold uppercase">Result</span>
                </div>
                <ul class="nav nav-pills nested-pills">
                    <li class="active">
                        <a href="#report-tab" data-toggle="tab" aria-expanded="true"> Report </a>
                    </li>
                    <li class="">
                        <a href="#forecast-tab" data-toggle="tab" aria-expanded="false"> Forecast </a>
                    </li>
                    <li class="">
                        <a href="#content-tab" data-toggle="tab" aria-expanded="false"> Components </a>
                    </li>
                    <li class="">
                        <a href="#table-tab" data-toggle="tab" aria-expanded="false"> Table </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="table-tab">
                        <div class="row">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-database font-blue-dark"></i>
                                        <span class="caption-subject font-blue-dark bold uppercase">Forecast Data</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th> # </th>
                                                <th> DS </th>
                                                <th> YHAT </th>
                                                <th> YHAT LOWER </th>
                                                <th> YHAT UPPER </th>
                                            </tr>
                                            </thead>
                                            <tbody id="table-content">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="forecast-tab">
                        <div class="row">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-area-chart font-blue-dark"></i>
                                        <span class="caption-subject font-blue-dark bold uppercase">Forecast Chart</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div id="forecast-place"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="table-scrollable">
                                                <table class="table table-hover">
                                                    <tbody>
                                                    <tr>
                                                        <td id="asset-name" colspan="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Indicator</td>
                                                        <td id="indicator-text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Width</td>
                                                        <td id="width-indicator"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Volume</td>
                                                        <td id="feature-volume"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Change</td>
                                                        <td id="feature-change"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Rate</td>
                                                        <td id="rate-indicator"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>RSI</td>
                                                        <td id="feature-rsi"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="content-tab">
                        <div class="row">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-bar-chart font-blue-dark"></i>
                                        <span class="caption-subject font-blue-dark bold uppercase">Component Charts</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <h2 class="col-md-offset-3">Components</h2>
                                        <div id="components-place"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active in" id="report-tab">
                        <div class="row">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-list font-blue-dark"></i>
                                        <span class="caption-subject font-blue-dark bold uppercase">Report Data</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th> Watch </th>
                                                <th> Asset </th>
                                                <th> Indicator </th>
                                                <th> Width </th>
                                                <th> Rate </th>
                                                <th> Change </th>
                                                <th> Volume </th>
                                                <th> RSI </th>
                                            </tr>
                                            </thead>
                                            <tbody id="table-report-content">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>


@section Scripts {
    <script src="~/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
    <script src="~/js/pages/auto.js" asp-append-version="true"></script>
}